<h1>New division</h1>

<form action="/wizard_divide">
  <label for="num_one">
    Divide this:
  </label>
  <input id="num_one" name="first_num" text="text">

  <label for="num_two">
    by this:
  </label>
  <input id="num_two" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
